@import './../../shared/main';

.addSong {
  display: flex;
  flex-direction: column;
  height: fit-content;
  grid-auto-rows: min-content;

  @include page-grid;
  @include content-padding-inline;
}

.form {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 2 / 4;
  }

  @include on-desktop {
    grid-column: 1 / 5;
  }

  &__title {
    width: max-content;
    text-align: center;
    font-size: 32px;
    color: $color-black2;
  }

  &__element {
    width: 100%;
    margin-bottom: 16px;
  }

  &__label {
    color: $color-grey2;
  }

  &__field {
    color: $color-black2;
    background-color: $color-white1;
    box-shadow: $shadow;
    border: none;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    padding-inline: 20px !important;

    &::placeholder {
      color: $color-white2 !important;
    }
  }

  &__hint {
    color: $color-grey1;
  }

  &__elementCheckbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 20px;
  }

  &__checkBox {
    height: 25px;
    aspect-ratio: 1;
    cursor: pointer;
  }

  &__button {
    width: 100%;

    @include on-tablet {
      width: 50%;
    }

    &_disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &__formikButton {
    width: 100%;
    height: 56px;
    font-size: 20px;
    background-color: $color-pink2;
    color: $color-white2;
    box-shadow: $shadow;
    border-radius: 5px;
    transition: all $effect-duration ease;

    &:hover {
      background-color: $color-pink1;
      color: $color-black2;
    }
  }
}

.buttonWhite {
  background-color: $color-black2;
  color: $color-white2;

  &:hover {
    color: $color-grey3;
    background-color: $color-white1;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
