@import './../../shared/main';

.home {
  display: flex;
  flex-direction: column;
}

.topWrapper {
  background-image: url('./../../../../public/images/disc-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  margin-inline: auto;
  max-width: $max-content-width;
  grid-auto-rows: min-content;
  padding-top: 24px;
  padding-bottom: 100px;

  @include content-padding-inline;
  @include page-grid;

  @include on-tablet {
    padding-top: 32px;
    padding-bottom: 130px;
  }

  @include on-desktop {
    padding-top: 34px;
    padding-bottom: 120px;
  }

  &__newSong {
    grid-column: 1 / -1;
    color: $color-green;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 36px;

    @include on-tablet {
      font-size: 24px;
    }

    @include on-desktop {
      grid-column: 1 / 7;
      grid-row: 1 / 2;
      text-align: left;
    }
  }

  &__photo {
    clip-path: $clip-top-right;
    grid-column: 1 / -1;
    aspect-ratio: 1;
    align-self: center;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      grid-column: 8 / -1;
      grid-row: 1 / 6;
      margin-bottom: 0;
    }
  }

  &__photoItself {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__title {
    grid-column: 1 / -1;
    color: $color-white1;
    text-align: center;
    font-size: 46px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 24px;

    @include on-tablet {
      font-size: 56px;
      line-height: 120%;
    }

    @include on-desktop {
      grid-column: 1 / 7;
      grid-row: 2 / 3;
      line-height: 110%;
      text-align: left;
    }
  }

  &__text {
    grid-column: 1 / -1;
    color: $color-white2;
    text-align: center;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 40px;

    @include on-desktop {
      grid-column: 1 / 7;
      grid-row: 4 / 5;
      text-align: left;
      margin-bottom: 32px;
    }
  }

  &__button {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 1 / 4;
      grid-row: 5 / 6;
    }
  }
}

.aboutUsWrapper {
  background-color: $color-white3;
}

.aboutUs {
  grid-auto-rows: min-content;
  margin-inline: auto;
  max-width: $max-content-width;
  @include content-padding-inline;
  @include page-grid;
  @include section-padding-block;

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    color: $color-black2;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 36px;

    @include on-tablet {
      font-size: 56px;
      line-height: 120%;
      margin-bottom: 40px;
    }

    @include on-desktop {
      text-align: left;
      grid-column: 7 / -1;
      margin-bottom: 32px;
    }
  }

  &__photo {
    clip-path: $clip-top-right;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-bottom: 26px;
    aspect-ratio: 1;
    align-self: center;

    @include on-tablet {
      grid-row: 3 / 4;
      margin-bottom: 24px;
    }

    @include on-desktop {
      grid-column: 1 / 6;
      grid-row: 1 / 6;
      margin-bottom: 0;
    }
  }

  &__photoItself {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__text {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 38px;

    @include on-tablet {
      grid-row: 2 / 3;
      font-size: 20px;
      text-align: center;
      margin-bottom: 24px;
    }

    @include on-desktop {
      text-align: left;
      grid-column: 7 / -1;
      margin-bottom: 0;
    }
  }

  &__advantages {
    grid-column: 1 / -1;
    display: flex;
    gap: 16px;
    flex-direction: column;

    @include on-desktop {
      grid-row: 4 / 5;
    }

    &_block1 {
      margin-bottom: 16px;

      @include on-tablet {
        grid-column: 1 / 3;
      }

      @include on-desktop {
        grid-column: 7 / 10;
      }
    }

    &_block2 {
      margin-bottom: 40px;

      @include on-tablet {
        grid-column: 3 / -1;
      }

      @include on-desktop {
        grid-column: 10 / 13;
        margin-bottom: 32px;
      }
    }
  }

  &__advantage {
    display: flex;
    gap: 16px;
  }

  &__button {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / 4;
    }
    @include on-desktop {
      grid-column: 7 / 10;
      grid-row: 5 / 6;
    }
  }
}

.servicesWrapper {
  background-image: url('./../../../../public/images/services-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  grid-auto-rows: min-content;
  margin-inline: auto;

  max-width: $max-content-width;

  @include content-padding-inline;
  @include page-grid;
  @include section-padding-block;

  &__title {
    grid-column: 1 / -1;
    text-align: center;
    color: $color-white1;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 32px;

    @include on-tablet {
      font-size: 56px;
      line-height: 130%;
      margin-bottom: 40px;
    }

    @include on-desktop {
      grid-column: 1 / 8;
      grid-row: 1 / 2;
      text-align: left;
      margin-bottom: 75px;
    }
  }

  &__cardsPhone {
    grid-column: 1 / -1;

    @include on-tablet {
      display: none;
    }
  }

  &__cardsTablet {
    display: none;

    @include on-tablet {
      grid-column: 1 / -1;
      row-gap: 32px;
      margin-bottom: 40px;

      @include page-grid;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__cardsDesktop {
    display: none;

    @include on-desktop {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      row-gap: 48px;
      @include page-grid;
    }
  }

  &__viewAll {
    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: end;

    @include on-desktop {
      margin-bottom: 75px;
      align-items: center;
      grid-row: 1 / 2;
      grid-column: 8 / -1;
    }

    &_link {
      color: $color-pink3;
      font-size: 18px;
      font-weight: 400;
      line-height: 130%;

      @include on-tablet {
        font-size: 20px;
      }
    }
  }
}

.ourWorksWrapper {
  background-color: $color-white3;
}

.ourWorks {
  grid-auto-rows: min-content;
  margin-inline: auto;
  max-width: $max-content-width;

  @include content-padding-inline;
  @include page-grid;
  @include section-padding-block;

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    color: $color-black2;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 32px;

    @include on-tablet {
      font-size: 56px;
      line-height: 130%;
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 75px;
    }
  }

  &__photo {
    clip-path: $clip-top-right;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-bottom: 32px;
    aspect-ratio: 1;
    align-self: center;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      grid-column: 8 / -1;
      grid-row: 2 / 5;
      margin-bottom: 0;
    }
  }

  &__photoItself {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__list {
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 24px;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-bottom: 40px;
    width: 100%;

    @include on-tablet {
      padding: 24px;
    }

    @include on-desktop {
      grid-row: 2 / 4;
      grid-column: 1 / 7;
      margin-bottom: 0;
      padding: 0;
      align-self: center;
    }
  }

  &__button {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    width: 100%;
    align-self: end;

    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 4;
    }
  }
}

.bannerWrapper {
  background: $gradient-black-violet;
}

.banner {
  margin-inline: auto;
  max-width: $max-content-width;
  position: relative;
  height: 370px;

  @include on-tablet {
    height: 430px;
  }

  @include on-desktop {
    height: 320px;
  }

  &__star {
    z-index: 9;
    position: absolute;
    transform: scale(0.8);
    top: -120px;
    left: -170px;

    @include on-tablet {
      top: -100px;
      left: -100px;
    }

    @include on-desktop {
      transform: scale(1);
      top: -40px;
      left: 100px;
    }
  }

  &__text {
    white-space: nowrap;
    z-index: 10;
    position: absolute;
    color: $color-white1;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;

    @include on-tablet {
      font-size: 48px;
      line-height: 130%;
    }

    @include on-desktop {
      font-size: 56px;
      line-height: 130%;
    }

    &_1 {
      left: 55px;
      top: 100px;

      @include on-tablet {
        left: 120px;
        top: 60px;
      }

      @include on-desktop {
        left: 520px;
        top: 25px;
      }
    }

    &_2 {
      left: 90px;
      top: 145px;

      @include on-tablet {
        left: 160px;
        top: 120px;
      }

      @include on-desktop {
        left: 700px;
        top: 100px;
      }
    }

    &_3 {
      left: 35px;
      top: 205px;
      font-weight: 400;

      @include on-tablet {
        left: 150px;
        top: 190px;
      }

      @include on-desktop {
        font-size: 48px;
        left: 350px;
      }
    }

    &_4 {
      color: $color-pink3;
      left: 120px;
      top: 240px;
      font-weight: 600;

      @include on-tablet {
        left: 250px;
        top: 240px;
      }

      @include on-desktop {
        font-size: 48px;
        top: 190px;
        left: 850px;
      }
    }
  }
}

.lessonsWrapper {
  background-color: $color-white3;
}

.lessons {
  margin-inline: auto;
  max-width: $max-content-width;

  @include content-padding-inline;
  @include page-grid;
  @include section-padding-block;

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    color: $color-black2;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 24px;

    @include on-tablet {
      font-size: 56px;
      line-height: 130%;
      margin-bottom: 40px;
    }

    @include on-desktop {
      text-align: left;
      grid-column: 7 / -1;
      margin-bottom: 32px;
    }
  }

  &__video {
    clip-path: $clip-top-right;
    background: $gradient-black-violet;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-bottom: 24px;
    aspect-ratio: 1;

    @include on-tablet {
      grid-row: 3 / 4;
      clip-path: $clip-top-right;
    }

    @include on-desktop {
      grid-column: 1 / 6;
      grid-row: 1 / 6;
      margin-bottom: 0;
    }
  }

  &__videoItself {
    height: 100%;
    width: 100%;
  }

  &__desctiption {
    grid-column: 1 / -1;
    color: $color-grey2;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;

    @include on-tablet {
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }

    &_block1 {
      margin-bottom: 24px;
      grid-row: 3 / 4;

      @include on-tablet {
        grid-row: 2 / 3;
      }
    }

    &_block2 {
      margin-bottom: 40px;
      grid-row: 4 / 5;

      @include on-desktop {
        margin-bottom: 0;
        grid-row: 3 / 4;
      }
    }
  }

  &__button {
    grid-column: 1 / -1;
    grid-row: 5 / 6;

    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include on-desktop {
      grid-column: 7 / 10;
    }
  }
}

.equipmentWrapper {
  background: $gradient-grey-white;
}

.equipment {
  position: relative;
  margin-inline: auto;
  max-width: $max-content-width;
  grid-auto-rows: min-content;

  @include section-padding-block;
  @include content-padding-inline;
  @include page-grid;

  @include on-tablet {
    padding-inline: 0;
  }

  @include on-desktop {
    @include content-padding-inline;
  }

  &__title {
    grid-column: 1 / -1;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    color: $color-black2;
    margin-bottom: 32px;
    text-align: center;

    @include on-tablet {
      font-size: 56px;
      line-height: 130%;
      margin-bottom: 40px;
    }

    @include on-desktop {
      text-align: left;
      margin-bottom: 72px;
    }
  }
  &__cardsPhone {
    grid-column: 1 / -1;

    @include on-tablet {
      display: none;
    }
  }

  &__cardsTablet {
    display: none;

    @include on-tablet {
      grid-column: 1 / -1;
      display: block;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__cardsDesktop {
    display: none;

    @include on-desktop {
      grid-column: 1 / -1;
      row-gap: 40px;

      @include page-grid;
    }
  }

  &__star {
    display: none;

    @include on-desktop {
      display: block;
      z-index: 11;
      position: absolute;
      height: 400px;
      width: 300px;
    }

    &_star1 {
      top: 250px;
      left: 100px;
    }

    &_star2 {
      bottom: 300px;
      right: 140px;
    }
  }
}

.testimonialsWrapper {
  background-color: $color-white3;
}

.testimonials {
  row-gap: 24px;
  margin-inline: auto;
  max-width: $max-content-width;

  @include content-padding-inline;
  @include page-grid;
  @include section-padding-block;

  &__blocksWrapper {
    grid-column: 1 / -1;
    row-gap: 24px;

    @include page-grid;

    @include on-tablet {
      row-gap: 32px;
    }

    @include on-desktop {
      row-gap: 0px;
    }
  }

  &__title {
    grid-column: 1 / -1;
    text-align: center;
    color: $color-black2;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 32px;

    @include on-tablet {
      font-size: 56px;
      line-height: 130%;
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 72px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    grid-column: 1 / -1;
    box-shadow: $shadow;
    padding: 16px;
    position: relative;
    min-height: 300px;
    max-height: 300px;

    @include on-tablet {
      min-height: 450px;
      max-height: 450px;
      padding: 40px;
    }

    @include on-desktop {
      min-height: 480px;
      max-height: 480px;
      grid-column: span 4;
      row-gap: 0;
      column-gap: 24px;
      padding: 32px;
    }

    &_block1 {
      background-color: $color-black2;
    }

    &_block2 {
      background-color: $color-white1;
    }

    &_block3 {
      background-color: $color-pink4;
    }
  }

  &__imageQuotes {
    height: 32px;
    width: 32px;
    margin-bottom: 32px;

    &_block2 {
      @include on-tablet {
        margin-left: 200px;
      }

      @include on-desktop {
        margin-left: 0;
      }
    }
  }

  &__textContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__message {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    max-width: 80%;

    @include on-tablet {
      max-width: 60%;
      font-size: 24px;
    }

    @include on-desktop {
      max-width: 100%;
    }

    &_block1 {
      color: $color-white1;
    }

    &_block2 {
      color: $color-black2;

      @include on-tablet {
        margin-left: 200px;
      }

      @include on-desktop {
        margin-left: 0;
      }
    }

    &_block3 {
      color: $color-black2;
    }
  }

  &__name {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 8px;

    &_block1 {
      color: $color-grey1;
    }

    &_block2 {
      color: $color-black2;

      @include on-tablet {
        text-align: right;
      }

      @include on-desktop {
        text-align: left;
      }
    }

    &_block3 {
      color: $color-black2;
    }
  }

  &__activitie {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;

    &_block1 {
      color: $color-grey1;
    }

    &_block2 {
      color: $color-black2;

      @include on-tablet {
        text-align: right;
        margin-right: 25px;
      }

      @include on-desktop {
        text-align: left;
        margin-right: 0;
      }
    }

    &_block3 {
      color: $color-black2;
    }
  }

  &__personPhoto {
    position: absolute;
    transform: scale(0.7);
    right: -70px;
    bottom: -50px;

    @include on-tablet {
      transform: scale(1.6);
      right: 10px;
      bottom: 20px;
    }

    @include on-desktop {
      transform: scale(1);
      bottom: 0;
    }

    &_block2 {
      @include on-tablet {
        right: auto;
        left: 30px;
      }

      @include on-desktop {
        left: auto;
        right: 0;
      }
    }
  }
}
