@import './../main';

.cardWrapper {
  @include on-desktop {
    grid-column: span 4;

    &:first-child {
      grid-column: 5 / span 4;
    }
  }
}

.card {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow;

  &__image {
    clip-path: $clip-top-right;
    object-fit: cover;
    min-height: 300px;
    max-height: 300px;

    @include on-tablet {
      clip-path: $clip-top-right;
      min-height: 475px;
      max-height: 475px;
    }
  }

  &__textContent {
    background-color: $color-white1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 125px;

    @include on-tablet {
      height: 140px;
    }
  }

  &__title {
    color: $color-black2;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 16px;
    text-align: left;
  }

  &__model {
    color: $color-grey3;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
  }
}
