@import './../shared/main';

.services {
  display: flex;
  flex-direction: column;
  background-color: $color-white1;
}

.variety {
  @include content-padding-inline;
}

.process {
  @include section-padding-block;

  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    color: $color-black2;
    margin-bottom: 24px;

    @include content-padding-inline;

    @include on-tablet {
      font-size: 56px;
      line-height: 120%;
      margin-bottom: 72px;
    }

    @include on-desktop {
      text-align: left;
    }
  }
}
