@import './../../shared/main';

.adminPageWrapper {
  background-color: $color-white4;
}

.adminPage {
  position: relative;
  min-height: calc(100vh - 80px);
  background-color: $color-white1;
  display: flex;
  width: 100%;
  max-width: $max-content-width;
  margin-inline: auto;

  &__panel {
    @include on-desktop {
      width: 300px;
      flex-shrink: 0;
    }
  }

  &__listWrapper {
    padding: 64px 16px 32px 32px;
    background-color: $color-white4;
    width: 100%;

    @include on-tablet {
      padding: 64px 24px 48px 48px;
    }

    @include on-desktop {
      width: calc(100% - 72px);
    }
  }
}
