@import './../main';

.footerWrapper {
  background: $gradient-black-violet;
}

.footer {
  max-width: $max-content-width;
  margin-inline: auto;
  padding-block: 24px;
  display: flex;
  flex-direction: column;

  @include content-padding-inline;

  @include on-tablet {
    padding-block: 42px;
  }

  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 0;
    }

    @include on-desktop {
      margin-bottom: 16px;
      flex-direction: row;
    }
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include on-tablet {
      flex-direction: column;
      align-items: end;
      gap: 12px;
    }

    @include on-desktop {
      flex-direction: row;
      justify-content: end;
      gap: 32px;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__locationIco {
    height: 20px;
    width: 20px;
  }

  &__addressPhone {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: $color-white1;

    @include on-tablet {
      display: none;
    }
  }

  &__addressTabletDesktop {
    display: none;

    @include on-tablet {
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
      color: $color-white1;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__phoneIco {
    height: 20px;
    width: 20px;
  }

  &__number {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: $color-white1;
  }

  &__logo {
    @include on-tablet {
      align-self: start;
      margin-bottom: 20px;
    }

    @include on-tablet {
      align-self: normal;
      margin-bottom: 0;
    }

    @include on-desktop {
      align-self: normal;
      margin-bottom: 0;
    }
  }

  &__navigationWrapper {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include on-tablet {
      flex-direction: row;
      gap: 24px;
    }

    @include on-desktop {
      font-size: 18px;
      gap: 68px;
      align-self: normal;
      align-items: center;
    }
  }

  &__line {
    height: 1px;
    width: 100%;
    background-color: $color-grey2;
    margin-bottom: 24px;
  }

  &__underline {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__policy {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: right;
    color: $color-white2;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
  }

  &__login {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-right: auto;
    height: 20px;

    @include on-tablet {
      margin-right: 0;
    }
  }

  &__copyRigths {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-inline: auto;
    color: $color-white2;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;

    @include on-tablet {
      margin-inline: 0;
    }
  }
}
