@import './../main';

.footer {
  background: $gradient-black-violet;
  padding-block: 24px;
  display: flex;
  flex-direction: column;

  @include content-padding-inline;

  @include on-tablet {
    padding-block: 40px;
  }

  @include on-tablet {
    padding-block: 64px;
  }

  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 0;
    }

    @include on-desktop {
      margin-bottom: 16px;
      flex-direction: row;
    }
  }

  &__adressWrapper {
    align-self: end;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    @include on-desktop {
      flex-direction: row;
      align-items: center;
      gap: 32px;
    }
  }

  &__locationIco {
    position: absolute;
    top: 10px;
    left: -30px;
  }

  &__adress {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: $color-basic-white;
    margin-bottom: 8px;

    @include on-desktop {
      margin-bottom: 0;
    }
  }

  &__number {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: $color-basic-white;
  }

  &__logo {
    @include on-tablet {
      align-self: start;
      margin-bottom: 20px;
    }

    @include on-tablet {
      align-self: normal;
      margin-bottom: 0;
    }

    @include on-desktop {
      align-self: normal;
      margin-bottom: 0;
    }
  }

  &__navigationWrapper {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include on-tablet {
      flex-direction: row;
      gap: 24px;
    }

    @include on-desktop {
      font-size: 18px;
      gap: 68px;
      align-self: normal;
      align-items: center;
    }
  }

  &__line {
    height: 1px;
    width: 100%;
    background-color: $color-text-darkGrey;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 42px;
    }

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__bottom {
    text-align: center;
  }
}
