@import './../../shared/main';

.opened {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: $color-modal-bg;
  pointer-events: auto;
  z-index: 1090;

  &__letter {
    z-index: 1100;
    padding: 16px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: calc(50vh + 40px);
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    height: max-content;
    width: 80vw;
    background-color: $color-white4;

    @include on-tablet {
      width: 60vw;
    }

    @include on-desktop {
      width: 40vw;
    }
  }

  &__name {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 20px;
    color: $color-black2;
    margin-bottom: 8px;
  }

  &__message {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    color: $color-black2;
    border: 1px solid $color-grey1;
    padding: 8px;
  }

  &__date {
    font-size: 14px;
    margin-bottom: 16px;
  }

  &__email {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    color: $color-black2;
    margin-bottom: 8px;
    overflow-wrap: break-word;
  }

  &__phone {
    color: $color-black2;
    margin-bottom: 16px;
  }

  &__closeWrapper {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
  }

  &__close {
    width: max-content;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: $color-pink3;
      transition: all $effect-duration ease;
      transform: scaleX(0);
    }

    &:hover::after {
      transform: scaleX(100%);
    }
  }
}
