@import './../shared/main';

.portfolio {
  background-color: $color-white1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 24px;
  overflow: hidden;

  @include on-tablet {
    padding-top: 32px;
  }

  @include on-desktop {
    padding-top: 34px;
  }
}

.topSongsWrapper {
  background-color: $color-white1;
}

.topSongs {
  margin-inline: auto;
  max-width: $max-content-width;
  position: relative;
  grid-auto-rows: min-content;
  margin-bottom: 100px;

  @include content-padding-inline;
  @include page-grid;

  @include on-tablet {
    margin-bottom: 130px;
  }
  @include on-desktop {
    margin-bottom: 90px;
  }

  &__title {
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    color: $color-pink1;
    text-align: left;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 36px;

    @include on-tablet {
      font-size: 56px;
      line-height: 120%;
      margin-bottom: 40px;
    }
  }

  &__swiper {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    z-index: 10;
  }

  &__songs {
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    @include on-tablet {
      grid-column: 1 / -2;
    }
  }
}

.allSongsWrapper {
  background-color: $color-white1;
}

.allSongs {
  margin-inline: auto;
  max-width: $max-content-width;
  position: relative;

  @include page-grid;
  @include content-padding-inline;
  @include section-padding-block;

  &__title {
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    color: $color-black2;
    text-align: left;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 36px;

    @include on-tablet {
      font-size: 56px;
      line-height: 120%;
      margin-bottom: 56px;
    }

    @include on-desktop {
      margin-bottom: 72px;
      line-height: 130%;
    }
  }

  &__main {
    grid-column: 1 / -1;

    @include page-grid;
  }

  &__sliderWrapper {
    clip-path: $clip-top-right;
    aspect-ratio: 1;
    grid-column: 1 / -1;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 32px;
    }

    @include on-desktop {
      grid-column: 1 / 6;
      margin-bottom: 0;
    }
  }

  &__listWrapper {
    background-color: $color-white1;
    box-shadow: $shadow;
    grid-column: 1 / -1;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include on-desktop {
      height: 100%;
      aspect-ratio: 6 / 5;
      grid-column: 7 / -1;
    }
  }

  &__listHeader {
    position: relative;
    margin-bottom: 16px;
    min-height: 112px;
    max-height: 112px;
  }

  &__listBanner {
    background-image: url('./../../../public/images/studio.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: $shadow;
    padding: 16px;
    min-height: 112px;
    max-height: 112px;
    display: flex;
    align-items: end;
  }

  &__listBannnerText {
    font-size: 16px;
    color: $color-white2;
  }

  &__list {
    flex-grow: 1;
    overflow-y: scroll;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}

.noSongsYet {
  font-size: 16px;
  color: $color-grey1;
  width: max-content;
}

.allSongs__data:hover .allSongs__button {
  transform: scale(1.12);
}

.allSongs__list::-webkit-scrollbar {
  width: 8px;
}
.allSongs__list::-webkit-scrollbar-track {
  cursor: pointer;
  background: $color-white2;
  border-radius: 5px;
}
.allSongs__list::-webkit-scrollbar-thumb {
  opacity: 0.2;
  background: #19191a80;
  border-radius: 5px;
  transition: transform $effect-duration ease;
}
.allSongs__list::-webkit-scrollbar-thumb:hover {
  background: $color-black2;
}

.banner1Wrapper {
  background: $gradient-black-violet;
}

.banner1 {
  margin-inline: auto;
  max-width: $max-content-width;

  @include content-padding-inline;

  &__text {
    font-size: 10px;
    color: $color-grey1;

    @include on-tablet {
      font-size: 14px;
    }

    @include on-tablet {
      font-size: 14px;
    }
  }
}

.banner2Wrapper {
  background-image: url('./../../../public/images/portfolio_banner2_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;

  @include on-tablet {
    margin-bottom: 130px;
  }

  @include on-desktop {
    margin-bottom: 120px;
  }
}

.banner2 {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-inline: auto;
  max-width: $max-content-width;
  height: 320px;

  @include content-padding-inline;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: end;
    background: $gradient-white-transparent;
    padding-left: 24px;
  }

  &__text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: $color-white1;

    @include on-tablet {
      text-align: right;
      font-size: 36px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }
}

.stars {
  position: absolute;
  width: 100%;
  height: 100px;
  right: 0;
  top: 0;

  &__star {
    opacity: 0.8;
    position: absolute;

    &_star1 {
      top: -150%;
      right: 0;

      @include on-desktop {
        top: -100%;
        right: 5%;
      }
    }

    &_star2 {
      top: -30%;
      right: 30%;

      @include on-desktop {
        top: -30%;
        right: 30%;
      }
    }

    &_star3 {
      top: -30%;
      right: 20%;

      @include on-tablet {
        top: -20%;
        right: 15%;
      }

      @include on-desktop {
        top: -20%;
        right: 15%;
      }
    }
  }
}
