@import './../../shared/main';

.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  height: 100vh;
  background-image: url('./../../../../public/images/login-image.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  @include content-padding-inline;
  @include section-padding-block;

  &__text {
    text-align: center;
    color: $color-white2;
    font-size: 32px;
    font-weight: 700;
  }

  &__goToStudio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white1;
    font-size: 20px;
    margin-block: 24px;
    width: 60%;
    background-color: $color-green;
    border: 1px solid $color-white1;
    height: 48px;
    border-radius: 5px;

    @include on-tablet {
      width: 40%;
    }

    @include on-desktop {
      width: 20%;
    }
  }
}
