@import './../main';

.portfolioSlide {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.swiperNavigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

.swiperButton {
  width: 100px;
  box-shadow: $shadow;
  transition: all $effect-duration ease;

  &_left {
    &:hover {
      transform: translateX(-10px);
    }
  }

  &_right {
    &:hover {
      transform: translateX(10px);
    }
  }
}
