@import './../main';

.hidenMenuHeightNoScroll {
  height: 100vh;
  overflow: hidden;
}

.headerWrapper {
  z-index: 1000;
  background: $gradient-black-violet;
  top: 0;
  position: sticky;
  height: 80px;

  @include content-padding-inline;
  @include page-grid;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;

  @include on-tablet {
    top: 24px;
  }

  @include on-desktop {
    top: 46px;
  }

  &__burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;

    @include on-desktop {
      display: none;
    }
  }

  &__right {
    display: none;

    @include on-desktop {
      display: flex;
      align-items: center;
      gap: 36px;
      height: 100%;
    }
  }

  &__inst {
    display: none;

    @include on-tablet {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    cursor: pointer;
    color: $color-navigation-white;
    font-weight: 400;
    font-size: 18px;

    &:hover {
      color: $color-primary-pink1;
    }
  }
}

.navigationWrapper {
  display: none;

  @include on-desktop {
    display: flex;
    gap: 68px;
  }
}
