@import './../main';

.hidenMenuHeightNoScroll {
  height: 100vh;
  overflow: hidden;
}

.headerWrapper {
  z-index: 1000;
  background: $gradient-black-violet;
  top: 0;
  position: sticky;
}

.header {
  margin-inline: auto;
  max-width: $max-content-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  height: 80px;

  @include content-padding-inline;

  &__burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;

    @include on-desktop {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 36px;

    &_desktop {
      display: none;

      @include on-desktop {
        display: flex;
        align-items: center;
        gap: 12px;
        height: 100%;
      }
    }
  }

  &__socialIco {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
  }

  &__link {
    cursor: pointer;
    color: $color-white2;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 150px;
    border: 1px solid $color-white1;

    &:hover {
      color: $color-pink1;
    }
  }
}

.navigationWrapper {
  display: none;

  @include on-desktop {
    display: flex;
    gap: 68px;
  }
}

.languageButton {
  cursor: pointer;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;

  &__img {
    transform: scale(1.4);
  }
}

.languageChanging {
  transform: scale(1.4) rotate(360deg);
}
