@import './../main';

.headerWrapper {
  z-index: 1000;
  background: $gradient-black-pink;
  top: 0;
  position: sticky;
  height: 80px;

  @include content-padding-inline;
  @include page-grid;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;

  @include on-tablet {
    top: 24px;
  }

  @include on-desktop {
    top: 46px;
  }

  &__burgerMenu {
    @include on-desktop {
      display: none;
    }
  }

  &__right {
    display: none;

    @include on-desktop {
      display: flex;
      align-items: center;
      gap: 36px;
      height: 100%;
    }
  }

  &__inst {
    display: none;

    @include on-tablet {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    cursor: pointer;
    color: $color-navigation-white;
    font-weight: 400;
    font-size: 18px;

    &:hover {
      color: $color-primary-pink1;
    }
  }

  &__button {
    position: relative;
    height: 100%;
    width: 130;
    background-color: $color-primary-pink1;
    padding: 1.5px;

    &_whiteField {
      width: 80px;
      height: 100%;
      background-color: $color-bg-white;
      margin-right: 44px;
    }

    &_text {
      position: absolute;
      width: max-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-basic-black;
      font-weight: 500;
      font-size: 16px;
    }
  }
}

.navigationWrapper {
  display: none;

  @include on-desktop {
    display: flex;
    gap: 68px;
  }
}
