@import './../shared/main';

.sent {
  margin-top: 100px;
  font-size: 32px;
  width: 100%;
  text-align: center;
}

.requestPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('./../../../public/images/login-image.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  grid-auto-rows: min-content;

  @include page-grid;
  @include content-padding-inline;
  @include section-padding-block;
}

.form {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 2 / 4;
  }

  @include on-desktop {
    grid-column: 6 / 10;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    color: $color-white2;
  }

  &__element {
    width: 100%;
    margin-bottom: 16px;
  }

  &__lable {
    color: $color-white2;
  }

  &__field {
    color: $color-white2;
    background-color: $color-black2;
    border: 1px solid $color-grey3;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 !important;
  }

  &__icoBlock {
    height: 100% !important;
  }

  &__formikButton {
    width: 100%;
    height: 48px;
    font-size: 20px;
    background-color: $color-pink2;
    color: $color-white2;
    border-radius: 5px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
