* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all $effect-duration ease;
  font-family: Mulish, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hidenMenuHeightNoScroll {
  height: 100vh;
  overflow: hidden;
}
