$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$effect-duration: 0.5s;
$cut-photo-m: polygon(0 0, calc(100% - 100px) 0, 100% 100px, 100% 100%, 0 100%);
$cut-photo-s: polygon(0 0, calc(100% - 60px) 0, 100% 60px, 100% 100%, 0 100%);
$cut-photo-xs: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%);

$color-primary-pink1: #d428ff;
$color-primary-pink2: #9708bb;
$color-primary-pink3: #e168ff;
$color-primary-pink4: #eea9ff;
$color-primary-pink5: #fae9ff;
$color-basic-black: #000;
$color-text-black: #19191a;
$color-light-grey: #e1e1e3;
$color-text-white: #e2e2e3;
$color-basic-white: #fff;
$color-bg-white: #ebe9eb;
$color-text-green: #4de188;
$color-text-grey: #989899;

$gradient: linear-gradient(to right, rgba(13, 8, 4, 1), rgba(5, 8, 69, 0.8));

$height-card-phone: 420px;
$height-card-tablet: 370px;
$height-card-desctop: 610px;
