$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$max-content-width: 1440px;
$effect-duration: 0.4s;
$clip-top-right-80px: polygon(
  0 0,
  calc(100% - 80px) 0,
  100% 80px,
  100% 100%,
  0 100%
);
$clip-top-right: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0 100%);
$clip-top-left: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
$clip-bottom-right: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
$clip-bottom-left: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 80%);
$clip-topLeft-bottomRight: polygon(
  20% 0,
  100% 0,
  100% 80%,
  80% 100%,
  0 100%,
  0 20%
);

$color-pink1: #d428ff;
$color-pink2: #9708bb;
$color-pink3: #e168ff;
$color-pink4: #eea9ff;
$color-black1: #000;
$color-black2: #19191a;
$color-green: #4de188;
$color-white1: #fff;
$color-white2: #e2e2e3;
$color-white3: #ebebeb;
$color-white4: #fbfbfb;
$color-grey1: #989899;
$color-grey2: #6e6e6f;
$color-grey3: #5e5e5f;

$gradient-black-violet: linear-gradient(
  to right,
  rgba(13, 8, 4, 1),
  rgba(5, 8, 69, 1)
);

$gradient-grey-white: linear-gradient(
  to right,
  rgba(185, 184, 185, 1),
  rgba(238, 242, 243, 1)
);

$gradient-white-toRigth: linear-gradient(
  to right,
  rgba(255, 255, 255, 1),
  rgba(255, 255, 255, 1),
  rgba(255, 255, 255, 0.54),
  rgba(255, 255, 255, 0)
);

$gradient-white-toBottomRigth: linear-gradient(
  to bottom right,
  rgba(255, 255, 255, 1),
  rgba(255, 255, 255, 1),
  rgba(255, 255, 255, 0.54),
  rgba(255, 255, 255, 0)
);

$gradient-white-transparent: linear-gradient(
  to right,
  rgba(255, 255, 255, 0.2),
  rgba(255, 255, 255, 0.2),
  rgba(255, 255, 255, 0.15),
  rgba(255, 255, 255, 0)
);

$shadow: 0 4px 8px 0 #00000040;
