@import './../main';

.card {
  background-color: $color-black2;
  // background-color: $color-white1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 16px;
  border: 1px solid $color-pink2;
  // border: 1px solid $color-white2;
  box-shadow: $shadow;
  margin-bottom: 32px;

  &__top {
    display: flex;
  }

  &__photo {
    clip-path: $clip-top-right;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    margin-bottom: 16px;

    @include on-tablet {
      margin-bottom: 32px;
    }

    @include on-desktop {
      margin-bottom: 16px;
    }
  }

  &__info {
    display: grid;
    width: 100%;
    margin-right: 24px;
  }

  &__title {
    color: $color-white2;
    // color: $color-black2;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    width: 100%;

    @include on-tablet {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 32px;
    }

    @include on-desktop {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }

  &__artist {
    color: $color-grey1;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    align-self: flex-end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 16px;

    @include on-tablet {
      font-size: 20px;
    }

    @include on-desktop {
      font-size: 18px;
    }
  }

  &__time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    @include on-tablet {
      margin-bottom: 16px;
    }

    &_element {
      color: $color-grey2;
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
    }
  }

  &__searchBar {
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 3px;
    background-color: $color-grey2;
    border: 3px solid $color-black2;
    // border: 3px solid $color-white1;

    &_runner {
      position: relative;
      height: 3px;
      background-color: $color-pink2;
      box-shadow: 0 0 6px 0 #00000080;
    }

    &_runnerSpot {
      height: 15px;
      width: 15px;
      background-color: $color-pink1;
      border-radius: 50%;
      border: 5px solid $color-grey3;
    }
  }

  &__searchBar:hover .card__searchBar_runnerSpot {
    border: 3px solid $color-grey3;
  }

  &__buttonWrapper {
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-bottom: 16px;
  }

  &__button {
    width: 36px;
    aspect-ratio: 1;
    transition: all $effect-duration ease;

    @include on-tablet {
      width: 48px;
    }

    @include on-desktop {
      width: 36px;
    }
  }
}

.strip {
  z-index: 1;
  background-color: $color-black2;
  // background-color: $color-white1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-shadow: $shadow;
  width: 100%;
  max-width: 100%;

  &__top {
    display: flex;
    min-height: 80px;
    max-height: 80px;
  }

  &__photo {
    clip-path: $clip-top-right;
    aspect-ratio: 1;
    object-fit: cover;
    margin-right: 24px;
  }

  &__info {
    display: grid;
    grid-auto-rows: min-content;
    height: 100%;
    width: 100%;
    margin-right: 24px;
  }

  &__title {
    color: $color-white2;
    // color: $color-black2;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include on-tablet {
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__artist {
    color: $color-grey1;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    align-self: flex-end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include on-tablet {
      font-size: 18px;
    }
  }

  &__time {
    display: flex;
    gap: 10px;
    justify-content: end;
    // align-items: center;
    margin-bottom: 4px;

    &_element {
      color: $color-grey2;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
    }
  }

  &__searchBar {
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 3px;
    background-color: $color-grey2;
    // border: 3px solid $color-white1;
    border: 3px solid $color-black2;

    &_runner {
      position: relative;
      height: 3px;
      background-color: $color-pink2;
      box-shadow: 0 0 6px 0 #00000080;
    }

    &_runnerSpot {
      height: 15px;
      width: 15px;
      background-color: $color-pink1;
      border-radius: 50%;
      border: 5px solid $color-grey3;
    }
  }

  &__searchBar:hover .strip__searchBar_runnerSpot {
    border: 3px solid $color-grey3;
  }

  &__buttonWrapper {
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }

  &__button {
    border-radius: 50%;
    // background-color: $color-pink2;
    width: 54px;
    aspect-ratio: 1;
    transition: all $effect-duration ease;
  }
}

.rotate {
  transform: scale(0.8) rotate(180deg);
}

@keyframes firstBar {
  0% {
    transform: scaleY(30%);
  }

  100% {
    transform: scaleY(100%);
  }
}

@keyframes secondBar {
  0% {
    transform: scaleY(100%);
  }

  100% {
    transform: scaleY(30%);
  }
}

@keyframes thirdBar {
  0% {
    transform: scaleY(30%);
  }

  50% {
    transform: scaleY(100%);
  }

  100% {
    transform: scaleY(30%);
  }
}

.songAnimation {
  display: flex;
  gap: 2px;

  &__bar {
    width: 4px;
    height: 12px;
    background-color: $color-pink1;
    border-radius: 2px;
    transform-origin: bottom;

    @include on-tablet {
      width: 5px;
      height: 15px;
    }

    &_1 {
      animation: firstBar 0.8s infinite ease-in-out alternate-reverse;
    }

    &_2 {
      animation: secondBar 0.8s infinite ease-in-out alternate-reverse;
    }

    &_3 {
      animation: thirdBar 0.8s infinite ease-in-out alternate-reverse;
    }
  }
}
