@import './../main';

.pvc {
  width: 100%;
  aspect-ratio: 1 / 1.5;
  display: flex;
  justify-content: center;
  background: $gradient-black-violet;
  margin-bottom: 32px;

  @include on-tablet {
    aspect-ratio: 1 / 1.2;
  }

  @include on-tablet {
    aspect-ratio: 1 / 1.5;
  }
}
