@import './../main';

.pvc {
  height: 340px;
  display: flex;
  justify-content: center;
  background: $gradient-black-violet;
  margin-bottom: 32px;

  @include on-tablet {
    height: 480px;
  }

  &__video {
    height: 100%;
  }
}
