@import './../main';

.form {
  background-color: $color-white1;
  padding: 32px 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;

  @include on-tablet {
    padding: 56px 36px 64px;
    gap: 38px;
  }

  @include on-desktop {
    padding: 56px 36px 100px;
  }

  &__element {
    position: relative;

    &:last-child {
      display: flex;
      justify-content: center;

      @include on-desktop {
        justify-content: left;
      }
    }
  }

  &__label {
    z-index: 10;
    position: absolute;
    left: 20px;
    top: -15px;
    background-color: $color-white1;
    color: $color-grey1;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    padding-inline: 5px;
  }

  &__field {
    background-color: $color-white1 !important;
    height: 55px !important;
    padding-left: 35px !important;
    border: 1px solid $color-white2 !important;
    color: $color-black2 !important;

    &:focus {
      border: 1px solid $color-pink1 !important;
    }

    &::placeholder {
      color: $color-white2 !important;
    }
  }

  &__button {
    width: 100%;

    @include on-tablet {
      width: 50%;
    }

    &_disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &__icoBlock {
    height: 100% !important;
  }

  &__resultMessage {
    display: flex;
    opacity: 0.95;
    overflow: hidden;
    z-index: 1000;
    position: absolute !important;
    bottom: 5%;
    left: 5%;
    right: 5%;
    height: max-content;
    margin-bottom: 0 !important;
  }
}
