@import './../../shared/main';

.statusError {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0;
  font-size: 16px;
  color: $color-black2;
  position: absolute;
}

.list {
  position: relative;

  &__empty {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    color: $color-grey1;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    color: $color-pink1;
  }

  &__header {
    display: grid;
    column-gap: 8px;
    grid-template-columns: 1fr 3fr 4fr 3fr 3fr 100px;
    background-color: $color-white2;
    padding: 8px 8px 8px 52px;
    margin-bottom: 8px;
    z-index: 1;
  }

  &__headerTitle {
    color: $color-black2;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  &__row {
    z-index: 1;
    cursor: pointer;
    position: relative;
    box-shadow: $shadow;
    padding: 8px;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 8px;
    column-gap: 8px;
    background-color: $color-white4;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__stripWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__delete {
    cursor: pointer;
    z-index: 10;
  }

  &__deleteOnMobile {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  &__strip {
    width: 100%;
    cursor: pointer;
    z-index: 1;
    display: grid;
    column-gap: 8px;
    position: relative;
    grid-template-columns: 1fr 3fr 4fr 3fr 3fr 100px;
    height: 48px;
    border-bottom: 1px solid $color-grey1;
    padding: 8px;
    background-color: $color-white4;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__text {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: flex-end;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $color-grey3;

    @include on-desktop {
      align-self: center;
    }
  }

  &__messageNumber {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-weight: 900;
    text-align: center;
    width: 20px;
    height: 20px;
  }

  &__name {
    margin-left: 50px;
    font-weight: 500;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__email {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__message {
    font-style: italic;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-right: 32px;
  }

  &__date {
    justify-self: end;
    font-size: 14px;
    color: $color-grey1;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.form {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 125px;

  @include on-desktop {
    top: 50%;
    transform: translateY(-50%);
  }

  &__select {
    width: 100%;
    cursor: pointer;
    box-shadow: $shadow;
    border: 1px solid $color-grey1;
    outline: none;
  }

  &__pending {
    color: $color-green2;
  }

  &__processing {
    color: $color-orange;
  }

  &__completed {
    color: $color-blue;
  }
}

.isDesktop {
  display: none;

  @include on-desktop {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.isMobile {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include on-desktop {
    display: none;
  }
}

.stars {
  position: absolute;
  width: 100%;
  height: 100px;
  right: 0;
  top: 0;

  &__star {
    opacity: 0.8;
    position: absolute;

    &_star1 {
      top: -150%;
      right: 0;

      @include on-desktop {
        top: -100%;
        right: 5%;
      }
    }

    &_star2 {
      top: -30%;
      right: 30%;

      @include on-desktop {
        top: -30%;
        right: 30%;
      }
    }

    &_star3 {
      top: -30%;
      right: 20%;

      @include on-tablet {
        top: -20%;
        right: 15%;
      }

      @include on-desktop {
        top: -20%;
        right: 15%;
      }
    }
  }
}
