@import './../main';

.cardWrapper {
  clip-path: $clip-top-right;
  aspect-ratio: 1;
  margin-bottom: 32px;

  @include on-tablet {
    grid-column: span 2;
    margin-bottom: 0;
  }

  @include on-desktop {
    grid-column: span 4;
  }
}

.card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include on-tablet {
    grid-column: span 2;
  }

  @include on-desktop {
    grid-column: span 4;
  }

  &__photo {
    height: 65%;
  }

  &__photoItself {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__textContent {
    height: 35%;
    padding-block: 16px;
    background-color: $color-white1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 24px;
  }

  &__title {
    overflow: hidden;
    color: $color-black2;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
  }
}

.details {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: $clip-top-right;
  background-color: $color-white1;
  padding-bottom: 16px;
  padding-inline: 24px;
  padding-top: 32px;
  background: linear-gradient(
    (to bottom, $color-white2 75%, $color-white1 25%)
  );

  &__title {
    color: $color-black2;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    text-align: left;
    margin-bottom: 16px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $color-grey2;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
  }
}

.detailsLink {
  position: relative;
  cursor: pointer;
  color: $color-pink3;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  align-self: flex-end;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $color-pink3;
    transition: all $effect-duration ease;
    transform: scaleX(0);
  }
}

.cardWrapper:hover .detailsLink::after {
  transform: scaleX(100%);
}

.spinCard {
  transform: rotateY(360deg);
}

.serDetCard {
  display: flex;
  flex-direction: column;
  background-color: $color-white1;
  box-shadow: $shadow;
  margin-bottom: 32px;
  padding: 24px 12px;
  margin-inline: 5px;

  @include on-tablet {
    padding: 32px 16px;
  }

  &__image {
    width: 100%;
    margin-bottom: 16px;

    @include on-tablet {
      margin-bottom: 32px;
    }
  }

  &__imageItself {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    clip-path: $clip-top-right;

    @include on-tablet {
      aspect-ratio: 3 / 2;
    }
  }

  &__content {
    height: 320px;
    padding-inline: 16px;
    grid-auto-rows: min-content;
    @include page-grid;

    @include on-tablet {
      padding-inline: 0;
    }
  }

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    color: $color-black2;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 8px;

    @include on-tablet {
      margin-bottom: 32px;
    }
  }

  &__textBlock {
    grid-column: 1 / -1;

    &_block1 {
      grid-row: 2 / 3;
      margin-bottom: 8px;

      @include on-tablet {
        margin-bottom: 16px;
      }
    }

    &_block2 {
      margin-bottom: 8px;
      grid-row: 3 / 4;

      @include on-tablet {
        grid-column: 1 / 3;
        background-color: $color-white4;
        border: 1px solid $color-white2;
        padding: 16px;
        margin-bottom: 16px;
      }
    }

    &_block3 {
      margin-bottom: 8px;
      grid-row: 4 / 5;

      @include on-tablet {
        grid-column: 3 / -1;
        grid-row: 3 / 4;
        background-color: $color-white4;
        border: 1px solid $color-white2;
        padding: 16px;
        margin-bottom: 16px;
      }
    }
  }

  &__text {
    color: $color-grey2;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;

    @include on-tablet {
      font-size: 20px;
    }
  }

  &__priceBlockWrapper {
    display: flex;
    align-self: flex-end;
    align-items: end;
    height: 100%;
  }

  &__priceBlock {
    padding-inline: 16px;
    display: flex;
    align-items: center;
  }

  &__priceBlockText {
    color: $color-black2;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    @include on-tablet {
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__clockIco {
    width: 16px;
    height: 16px;
    margin-inline: 5px;
  }
}
