@import './../main';

.cardWrapper {
  clip-path: $clip-top-right;
  aspect-ratio: 1;
  margin-bottom: 32px;

  @include on-tablet {
    grid-column: span 2;
    margin-bottom: 0;
  }

  @include on-desktop {
    grid-column: span 4;
  }
}

.card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @include on-tablet {
    grid-column: span 2;
  }

  @include on-desktop {
    grid-column: span 4;
  }

  &__photo {
    height: 65%;
  }

  &__photoItself {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__textContent {
    height: 35%;
    padding-block: 16px;
    background-color: $color-white1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 16px;
  }

  &__title {
    overflow: hidden;
    color: $color-black2;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.price {
  display: flex;
  align-items: center;

  &__priceText {
    color: $color-black2;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
  }

  &__clockIco {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
    margin-inline: 5px;
  }
}

.details {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: $clip-top-right;
  background-color: $color-white1;
  padding: 16px;
  background: linear-gradient(
    (to bottom, $color-white2 75%, $color-white1 25%)
  );
  cursor: pointer;

  &__title {
    color: $color-black2;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    text-align: left;
    margin-bottom: 16px;
    padding-right: 48px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $color-grey2;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.detailsLink {
  position: relative;
  cursor: pointer;
  color: $color-pink3;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $color-pink3;
    transition: all $effect-duration ease;
    transform: scaleX(0);
  }
}

.cardWrapper:hover .detailsLink::after {
  transform: scaleX(100%);
}

.spinCard {
  transform: rotateY(360deg);
}
